/* Global Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    background-color: #7c109231;
}

header {
    background-color: #795e15;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    height: 50px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 20px;
}

nav ul li {
    display: inline;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.hero {
    text-align: center;
    background: url('../images/hero.jpg') no-repeat center center/cover;
    color: ;
    padding: 100px 20px;
}

.hero h1 {
    font-size: 3em;
    margin-bottom: 10px;
}

.hero p {
    font-size: 1.5em;
}

.btn {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}

.featured-products, .about-us, .products, .contact {
    padding: 40px 20px;
    text-align: center;
}

.product-gallery, .product-list {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.product-item {
    background-color: #7c109231;
    border: 1px solid #ddd;
    padding: 20px;
    width: 300px;
}

.product-item img {
    max-width: 100%;
    height: auto;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

.social-media a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
}